.antd-button{
    width: 20rem;
    height: 10rem;
}
.antd-col{
    padding: 1rem 0 1rem 0 ;
    background: white;
    min-height:160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
	cursor: pointer;
    &:hover{
		background: rgb(33, 121, 33);
	}
	&:active{
		background: orange;
	}
	
}
.antd-col-position{
    padding: 1rem 0 1rem 0 ;
    background: white;
    min-height:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
	cursor: pointer;
    &:hover{
		background: rgb(33, 121, 33);
	}
	&:active{
		background: orange;
	}
	
}
.text{
	position: absolute;
	background-color: green;
	padding: 5px;
	border-radius: 19px;
	bottom: -5%;
}
.square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }

.triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 75px solid #555;
	border-bottom: 50px solid transparent;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 75px solid #555;
	border-bottom: 50px solid transparent;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 75px solid #555;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 75px solid #555;
}
.gutter-box {
	padding: 8px 0;
	background: #00a0e9;
  }
  [data-theme="dark"] .gutter-box {
	background: #028ac8;
  }
  .bb{
	border: #555 1px solid;
	
  }

  // รูปภาพ
  .oval {
	height: 80px;
	width: 100px;
	background-color: #555;
	border-radius: 50%;
  }
  .trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}.rectangle {
	height: 50px;
	width: 100px;
	background-color: #555;
  }.parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #555;
}.square {
	height: 50px;
	width: 50px;
	background-color: #555;
  }.circle {
	height: 50px;
	width: 50px;
	background-color: #555;
	border-radius: 50%;
  }